.editProfileContainer {
    font-family: var(--family-title, 'Helvetica', sans-serif);
    color: var(--color-text, white);
}

.customLabel {
    color: var(--color-text, white);
    font-size: 12px;
}

.customInput {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    background: transparent;
    font-size: 12px;
    margin-top: 10px;
}

.description {
    width: 65%;
}

.mainContainer {
    display: flex;
    margin-top: 30px;
}

.leftContainer {
    flex: 1;
}

.rightContainer {
    width: 250px;
    padding-left: 30px;
}

.inputContainer {
    margin-bottom: 30px;
}

.verifyContainer {
    margin-top: 20px;
    display: flex;
}

.verifyTitle {
    font-size: 12px;
}

.verifyContent {
    font-size: 11px;
}

.updateBtnContainer {
    text-align: center;
}

.updateBtn {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 13px;
}

.verifyBtn {
    border-radius: 20px;
    font-size: 13px;
}

.labelDescription {
    font-size: 12px;
    color: var(--color-text-faint, white);
}

.imageDescription {
    font-size: 13px;
}

.fileButton {
    border-radius: 20px;
    font-size: 14px;
    padding: 10px;
}

.fileInput {
    display: none;
}

.preview {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 100px;
}