.messages {
    display: flex;
    max-width: 60%;
    word-break: break-word;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom: 0.2rem;
}
.user-avatar {
    width: 8rem;
    text-align: right;
}
.user-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 2rem;
    margin-right: 1rem;
}