/* .dashboard_container {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  
  .dashboard_left_section {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard_right_section {
    width: 20%;
    height: 100%;
  }
  
  .dashboard_content_container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
  }
  
  .dashboard_rooms_container {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
  }
  
  .dashboard_info_text_container {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .dashboard_info_text_title {
    font-size: 50px;
  }
  
  .dashboard_info_text_description {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .dashboard_active_users_list {
    height: 80%;
  }
  
  .dashboard_logo_container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
  
  .dashboard_logo_image {
    width: 60%;
  } */

.dashboard {
  color: var(--color-text, white);
  font-family: var(--family-title, 'Helvetica', sans-serif);
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.leftValue {
  font-size: 24px;
}

.roundButton {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.btnContainer {
  display: flex;
}

.btnWithSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.btnSpan {
  font-size: 11px;
}

.card {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.flexRow {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  font-size: 10px;
}

.cardButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardValue {

}

.infoIcon {
  margin-left: 10px;
  font-size: 14px;
}

.claimButton {
  background: #777;
  border-radius: 5px;
  font-size: 13px;
}

.smallFont {
  font-size: 12px;
  position: relative;
  top: -12px;
  left: 8px;
}

.offerContainer {
  margin-left: 10px;
  margin-top: 20px;
}

.offerTitle {
  margin-bottom: 0;
}

.noMessage {
  text-align: center;
  margin-top: 30px;
}